--Create database [QLMAMNON_DALAPKEHOACH]
USE [QLMAMNON_DALAPKEHOACH]
GO
/****** Object:  Table [dbo].[CTPhieuHocPhi]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuHocPhi](
	[MaPhieuHP] [varchar](25) NOT NULL,
	[MaKhoanThu] [varchar](25) NOT NULL,
 CONSTRAINT [PK_CTPHIEUHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MaPhieuHP] ASC,
	[MaKhoanThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaThang]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaThang](
	[MaDanhGiaThang] [varchar](25) NOT NULL,
	[MaHS] [varchar](25) NOT NULL,
	[MaLop] [varchar](25) NOT NULL,
	[Thang] [int] NOT NULL,
	[DatPhieuChauNgoanBH] [int] NULL,
	[NoiDung] [nvarchar](250) NULL,
 CONSTRAINT [PK_DanhGiaThang] PRIMARY KEY CLUSTERED 
(
	[MaDanhGiaThang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaTuan]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaTuan](
	[MaDanhGiaTuan] [varchar](35) NOT NULL,
	[MaHS] [varchar](25) NOT NULL,
	[MaLop] [varchar](25) NOT NULL,
	[Tuan] [int] NOT NULL,
	[DatPhieuBeNgoan] [int] NULL,
	[NoiDung] [nvarchar](250) NULL,
	[Thang] [int] NOT NULL,
	[NgayDG] [datetime] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaDanhGiaTuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[MaDiemDanh] [varchar](35) NOT NULL,
	[MaLop] [varchar](25) NULL,
	[MaHS] [varchar](25) NULL,
	[NgayDiemDanh] [date] NULL,
	[VangKPhep] [int] NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_DiemDanh] PRIMARY KEY CLUSTERED 
(
	[MaDiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMManHinh]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMManHinh](
	[MaMH] [varchar](25) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
 CONSTRAINT [PK_DMManHinh] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGV] [varchar](25) NOT NULL,
	[TrinhDo] [nvarchar](50) NOT NULL,
	[ChuyenMon] [nvarchar](50) NULL,
	[NoiDaoTao] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDongNgoaiKhoa]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDongNgoaiKhoa](
	[MaHD] [varchar](25) NOT NULL,
	[TenHDNK] [nvarchar](50) NOT NULL,
	[NgayTG] [date] NOT NULL,
	[SoTien] [money] NOT NULL,
	[MaNamHoc] [varchar](25) NOT NULL,
	[TrangThaiDK] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoatDongNgoaiKhoa] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[MaHS] [varchar](25) NOT NULL,
	[MaPH1] [varchar](25) NOT NULL,
	[MaPH2] [varchar](25) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[ChieuCao] [int] NOT NULL,
	[HinhAnh] [varchar](50) NOT NULL,
	[CanNang] [varchar](10) NOT NULL,
	[NgayNhapHoc] [date] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoHocSinh]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoHocSinh](
	[MaHS] [varchar](25) NOT NULL,
	[MaDinhDanh] [varchar](50) NOT NULL,
	[QuocTich] [nvarchar](50) NOT NULL,
	[DanToc] [nvarchar](50) NOT NULL,
	[TonGiao] [nvarchar](50) NOT NULL,
	[QueQuan] [nvarchar](100) NOT NULL,
	[NoiSinh] [nvarchar](50) NOT NULL,
	[TinhTrangSucKhoe] [nvarchar](200) NOT NULL,
	[GiayKhaiSinh] [varchar](50) NOT NULL,
	[DonXinNhapHoc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HoSoHocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeHoach]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeHoach](
	[MaNamHoc] [varchar](25) NOT NULL,
	[MaKhoi] [varchar](25) NOT NULL,
	[SoLopMo] [int] NOT NULL,
	[TongHS] [int] NOT NULL,
	[SiSoToiThieu] [int] NOT NULL,
	[SiSoToiDa] [int] NOT NULL,
 CONSTRAINT [PK_KeHoach] PRIMARY KEY CLUSTERED 
(
	[MaNamHoc] ASC,
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoanThu]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanThu](
	[MaKhoanThu] [varchar](25) NOT NULL,
	[MaNamHoc] [varchar](25) NOT NULL,
	[TenKhoanThu] [nvarchar](50) NOT NULL,
	[SoTien] [money] NOT NULL,
 CONSTRAINT [PK_KHOANTHU] PRIMARY KEY CLUSTERED 
(
	[MaKhoanThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoiLop]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoiLop](
	[MaKhoi] [varchar](25) NOT NULL,
	[TenKhoi] [nvarchar](50) NOT NULL,
	[DoTuoi] [varchar](5) NOT NULL,
 CONSTRAINT [PK_KhoiLop] PRIMARY KEY CLUSTERED 
(
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [varchar](25) NOT NULL,
	[MaKhoi] [varchar](25) NULL,
	[MaNamHoc] [varchar](25) NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[SiSo] [int] NULL,
	[MaPhong] [varchar](10) NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NamHoc]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamHoc](
	[MaNamHoc] [varchar](25) NOT NULL,
	[TenNamHoc] [nvarchar](25) NOT NULL,
	[NgayDB] [date] NOT NULL,
	[NgayKT] [date] NOT NULL,
 CONSTRAINT [PK_NamHoc] PRIMARY KEY CLUSTERED 
(
	[MaNamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [varchar](25) NOT NULL,
	[TenTK] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[HoTen] [nvarchar](70) NOT NULL,
	[DienThoai] [varchar](11) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[ChucVu] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung_NhomNguoiDung]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung_NhomNguoiDung](
	[MaND] [varchar](25) NOT NULL,
	[MaNhomNguoiDung] [varchar](25) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguoiDung_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC,
	[MaNhomNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomNguoiDung]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNguoiDung](
	[MaNhom] [varchar](25) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaLop] [varchar](25) NOT NULL,
	[MaGV] [varchar](25) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLop]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLop](
	[MaHS] [varchar](25) NOT NULL,
	[MaLop] [varchar](25) NOT NULL,
	[DanhGia] [nvarchar](max) NULL,
	[XepLoai] [nvarchar](20) NULL,
 CONSTRAINT [PK_PhanLop_1] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaNhom] [varchar](25) NOT NULL,
	[MaMH] [varchar](25) NOT NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuHocPhi]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuHocPhi](
	[MaPhieuHP] [varchar](25) NOT NULL,
	[MaHS] [varchar](25) NOT NULL,
	[MaLop] [varchar](25) NOT NULL,
	[MaND] [varchar](25) NOT NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[TrangThaiThanhToan] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[SoNgayHSVang] [int] NOT NULL,
	[SoNgayHSHoc] [int] NOT NULL,
	[TongTien] [money] NOT NULL,
	[TienNhan] [money] NULL,
	[NgayThanhToan] [datetime] NULL,
	[SoBuoiHocTrongThang] [int] NULL,
 CONSTRAINT [PK_PHIEUHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MaPhieuHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [varchar](10) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[SucChua] [int] NULL,
	[ViTri] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhongHoc] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuHuynh]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuHuynh](
	[MaPH] [varchar](25) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NamSinh] [int] NOT NULL,
	[DiaChiCQ] [nvarchar](100) NOT NULL,
	[NgheNghiep] [nvarchar](50) NOT NULL,
	[DienThoai] [varchar](10) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[QuanHe] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhuHuynh] PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThamGiaNgoaiKhoa]    Script Date: 20/12/2024 12:25:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamGiaNgoaiKhoa](
	[MaTTHD] [varchar](25) NOT NULL,
	[NgayDK] [datetime] NOT NULL,
	[MaHD] [varchar](25) NOT NULL,
	[MaHS] [varchar](25) NOT NULL,
	[TienNhan] [money] NOT NULL,
	[MaND] [varchar](25) NULL,
 CONSTRAINT [PK_ThamGiaNgoaiKhoa] PRIMARY KEY CLUSTERED 
(
	[MaTTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTPhieuHocPhi] ([MaPhieuHP], [MaKhoanThu]) VALUES (N'HP2425T10_HSNH23240001', N'KT242501')
INSERT [dbo].[CTPhieuHocPhi] ([MaPhieuHP], [MaKhoanThu]) VALUES (N'HP2425T10_HSNH23240001', N'KT242502')
INSERT [dbo].[CTPhieuHocPhi] ([MaPhieuHP], [MaKhoanThu]) VALUES (N'HP2425T10_HSNH23240002', N'KT242501')
GO
INSERT [dbo].[DanhGiaThang] ([MaDanhGiaThang], [MaHS], [MaLop], [Thang], [DatPhieuChauNgoanBH], [NoiDung]) VALUES (N'DGT01NH2324_HSNH23240011', N'HSNH23240011', N'LLA2324001', 1, 1, N'Bé vâng lời')
INSERT [dbo].[DanhGiaThang] ([MaDanhGiaThang], [MaHS], [MaLop], [Thang], [DatPhieuChauNgoanBH], [NoiDung]) VALUES (N'DGT02NH2324_HSNH23240011', N'HSNH23240011', N'LLA2324001', 2, 1, N'Bé vâng lời')
INSERT [dbo].[DanhGiaThang] ([MaDanhGiaThang], [MaHS], [MaLop], [Thang], [DatPhieuChauNgoanBH], [NoiDung]) VALUES (N'DGT03NH2324_HSNH23240011', N'HSNH23240011', N'LLA2324001', 3, 1, N'Bé vâng lời')
GO
INSERT [dbo].[DanhGiaTuan] ([MaDanhGiaTuan], [MaHS], [MaLop], [Tuan], [DatPhieuBeNgoan], [NoiDung], [Thang], [NgayDG]) VALUES (N'DGT10T1NH2425_HSNH23240016', N'HSNH23240016', N'LMN2425001', 1, 1, N'Bé tỏ rõ hiểu biết về các bài học.', 10, CAST(N'2024-12-19T00:00:00.000' AS DateTime))
INSERT [dbo].[DanhGiaTuan] ([MaDanhGiaTuan], [MaHS], [MaLop], [Tuan], [DatPhieuBeNgoan], [NoiDung], [Thang], [NgayDG]) VALUES (N'DGT10T1NH2425_HSNH23240017', N'HSNH23240017', N'LMN2425001', 1, 1, N'Bé biết nhờ tên và giúp đỡ bạn mới.', 10, CAST(N'2024-12-19T00:00:00.000' AS DateTime))
INSERT [dbo].[DanhGiaTuan] ([MaDanhGiaTuan], [MaHS], [MaLop], [Tuan], [DatPhieuBeNgoan], [NoiDung], [Thang], [NgayDG]) VALUES (N'DGT10T1NH2425_HSNH23240018', N'HSNH23240018', N'LMN2425001', 1, 1, N'Bé ăn uống lễ phép và ngồi đúng chỗ.', 10, CAST(N'2024-12-19T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[DiemDanh] ([MaDiemDanh], [MaLop], [MaHS], [NgayDiemDanh], [VangKPhep], [GhiChu]) VALUES (N'DDLLA2324001241223_HSNH23240011', N'LLA2324001', N'HSNH23240011', CAST(N'2023-11-24' AS Date), 1, N'Bé sốt')
INSERT [dbo].[DiemDanh] ([MaDiemDanh], [MaLop], [MaHS], [NgayDiemDanh], [VangKPhep], [GhiChu]) VALUES (N'DDLLA2324001241223_HSNH23240012', N'LLA2324001', N'HSNH23240012', CAST(N'2023-11-24' AS Date), 0, NULL)
INSERT [dbo].[DiemDanh] ([MaDiemDanh], [MaLop], [MaHS], [NgayDiemDanh], [VangKPhep], [GhiChu]) VALUES (N'DDLLA2324001241223_HSNH23240013', N'LLA2324001', N'HSNH23240013', CAST(N'2023-11-24' AS Date), 1, N'Nhà có việc')
GO
INSERT [dbo].[DMManHinh] ([MaMH], [TenMH]) VALUES (N'MH01', N'Lập phiếu học phí')
INSERT [dbo].[DMManHinh] ([MaMH], [TenMH]) VALUES (N'MH02', N'Thanh toán học phí')
INSERT [dbo].[DMManHinh] ([MaMH], [TenMH]) VALUES (N'MH03', N'Đăng ký hoạt động')
GO
INSERT [dbo].[GiaoVien] ([MaGV], [TrinhDo], [ChuyenMon], [NoiDaoTao]) VALUES (N'ND004', N'Cử nhân Sư phạm Mầm non', N'Giáo viên mầm non', N'Trường Cao đẳng Sư phạm TP.HCM')
INSERT [dbo].[GiaoVien] ([MaGV], [TrinhDo], [ChuyenMon], [NoiDaoTao]) VALUES (N'ND005', N'Cử nhân Sư phạm Mầm non', N'Giáo viên mầm non', N'Trường Đại học Sư phạm Đà Nẵng')
INSERT [dbo].[GiaoVien] ([MaGV], [TrinhDo], [ChuyenMon], [NoiDaoTao]) VALUES (N'ND006', N'Cử nhân Sư phạm Mầm non', N'Giáo viên mầm non', N'Trường Đại học Sư phạm Nghệ An')
GO
INSERT [dbo].[HoatDongNgoaiKhoa] ([MaHD], [TenHDNK], [NgayTG], [SoTien], [MaNamHoc], [TrangThaiDK]) VALUES (N'HD001', N'Bé khỏe bé ngoan', CAST(N'2023-10-12' AS Date), 500000.0000, N'NH2324', N'Đã hết hạn đăng ký')
INSERT [dbo].[HoatDongNgoaiKhoa] ([MaHD], [TenHDNK], [NgayTG], [SoTien], [MaNamHoc], [TrangThaiDK]) VALUES (N'HD002', N'Hội thao thể thao học sinh', CAST(N'2023-09-05' AS Date), 300000.0000, N'NH2324', N'Đã hết hạn đăng ký')
INSERT [dbo].[HoatDongNgoaiKhoa] ([MaHD], [TenHDNK], [NgayTG], [SoTien], [MaNamHoc], [TrangThaiDK]) VALUES (N'HD003', N'Chuyến dã ngoại về nguồn', CAST(N'2023-10-12' AS Date), 350000.0000, N'NH2324', N'Đã hết hạn đăng ký')
GO
INSERT [dbo].[HocSinh] ([MaHS], [MaPH1], [MaPH2], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [ChieuCao], [HinhAnh], [CanNang], [NgayNhapHoc], [GhiChu], [TinhTrang], [NgayKetThuc]) VALUES (N'HSNH23240001', N'PHHSNH232400011', N'PHHSNH232400012', N'Nguyễn Thị Mai', N'Nữ', CAST(N'2020-07-01' AS Date), N'123 Phan Đình Phùng, Q.1', 90, N'HSNH23240001.jpg', N'15.5', CAST(N'2024-12-16' AS Date), N'', N'Đang học', CAST(N'1900-01-01' AS Date))
INSERT [dbo].[HocSinh] ([MaHS], [MaPH1], [MaPH2], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [ChieuCao], [HinhAnh], [CanNang], [NgayNhapHoc], [GhiChu], [TinhTrang], [NgayKetThuc]) VALUES (N'HSNH23240002', N'PHHSNH232400021', N'PHHSNH232400022', N'Trần Văn Minh', N'Nam', CAST(N'2020-06-15' AS Date), N'456 Lê Văn Sỹ, Q.3', 95, N'HSNH23240002.jpg', N'16', CAST(N'2023-07-01' AS Date), NULL, N'Đang học', NULL)
INSERT [dbo].[HocSinh] ([MaHS], [MaPH1], [MaPH2], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [ChieuCao], [HinhAnh], [CanNang], [NgayNhapHoc], [GhiChu], [TinhTrang], [NgayKetThuc]) VALUES (N'HSNH23240003', N'PHHSNH232400031', N'PHHSNH232400032', N'Lê Thị Lan Anh', N'Nữ', CAST(N'2020-08-20' AS Date), N'789 Nguyễn Trãi, Q.5', 92, N'HSNH23240003.jpg', N'14.8', CAST(N'2023-06-15' AS Date), NULL, N'Đang học', NULL)
GO
INSERT [dbo].[HoSoHocSinh] ([MaHS], [MaDinhDanh], [QuocTich], [DanToc], [TonGiao], [QueQuan], [NoiSinh], [TinhTrangSucKhoe], [GiayKhaiSinh], [DonXinNhapHoc]) VALUES (N'HSNH23240001', N'234701200001', N'Việt Nam', N'Kinh', N'Không', N'Hà Nội', N'Hà Nội', N'Khỏe mạnh', N'GiayKhaiSinh_HSNH2324001.pdf', N'DonXinNhapHoc_HSNH2324001.pdf')
INSERT [dbo].[HoSoHocSinh] ([MaHS], [MaDinhDanh], [QuocTich], [DanToc], [TonGiao], [QueQuan], [NoiSinh], [TinhTrangSucKhoe], [GiayKhaiSinh], [DonXinNhapHoc]) VALUES (N'HSNH23240002', N'234701200002', N'Việt Nam', N'Kinh', N'Không', N'Hà Nội', N'Hà Nội', N'Khỏe mạnh', N'GiayKhaiSinh_HSNH2324002.pdf', N'DonXinNhapHoc_HSNH2324002.pdf')
INSERT [dbo].[HoSoHocSinh] ([MaHS], [MaDinhDanh], [QuocTich], [DanToc], [TonGiao], [QueQuan], [NoiSinh], [TinhTrangSucKhoe], [GiayKhaiSinh], [DonXinNhapHoc]) VALUES (N'HSNH23240003', N'234701200003', N'Việt Nam', N'Kinh', N'Không', N'Hà Nội', N'Hà Nội', N'Khỏe mạnh', N'GiayKhaiSinh_HSNH2324003.pdf', N'DonXinNhapHoc_HSNH2324003.pdf')
GO
INSERT [dbo].[KeHoach] ([MaNamHoc], [MaKhoi], [SoLopMo], [TongHS], [SiSoToiThieu], [SiSoToiDa]) VALUES (N'NH2324', N'KLA', 2, 10, 3, 6)
INSERT [dbo].[KeHoach] ([MaNamHoc], [MaKhoi], [SoLopMo], [TongHS], [SiSoToiThieu], [SiSoToiDa]) VALUES (N'NH2324', N'KLC', 2, 10, 3, 6)
INSERT [dbo].[KeHoach] ([MaNamHoc], [MaKhoi], [SoLopMo], [TongHS], [SiSoToiThieu], [SiSoToiDa]) VALUES (N'NH2324', N'KMN', 2, 10, 3, 6)
GO
INSERT [dbo].[KhoanThu] ([MaKhoanThu], [MaNamHoc], [TenKhoanThu], [SoTien]) VALUES (N'KT232401', N'NH2324', N'Tiền ăn', 40000.0000)
INSERT [dbo].[KhoanThu] ([MaKhoanThu], [MaNamHoc], [TenKhoanThu], [SoTien]) VALUES (N'KT232402', N'NH2324', N'Học phí', 200000.0000)
INSERT [dbo].[KhoanThu] ([MaKhoanThu], [MaNamHoc], [TenKhoanThu], [SoTien]) VALUES (N'KT242501', N'NH2425', N'Tiền ăn', 40000.0000)
GO
INSERT [dbo].[KhoiLop] ([MaKhoi], [TenKhoi], [DoTuoi]) VALUES (N'KLA', N'Lớp Lá', N'5')
INSERT [dbo].[KhoiLop] ([MaKhoi], [TenKhoi], [DoTuoi]) VALUES (N'KLC', N'Lớp Chồi', N'4')
INSERT [dbo].[KhoiLop] ([MaKhoi], [TenKhoi], [DoTuoi]) VALUES (N'KMN', N'Lớp Mầm', N'3')
GO
INSERT [dbo].[LopHoc] ([MaLop], [MaKhoi], [MaNamHoc], [TenLop], [SiSo], [MaPhong]) VALUES (N'LLA2324001', N'KLA', N'NH2324', N'LỚP LÁ 1', 4, N'PH007')
INSERT [dbo].[LopHoc] ([MaLop], [MaKhoi], [MaNamHoc], [TenLop], [SiSo], [MaPhong]) VALUES (N'LLA2324002', N'KLA', N'NH2324', N'LỚP LÁ 2', 4, N'PH008')
INSERT [dbo].[LopHoc] ([MaLop], [MaKhoi], [MaNamHoc], [TenLop], [SiSo], [MaPhong]) VALUES (N'LLA2425001', N'KLA', N'NH2425', N'Lớp Lá 1', 10, N'PH008')
GO
INSERT [dbo].[NamHoc] ([MaNamHoc], [TenNamHoc], [NgayDB], [NgayKT]) VALUES (N'NH2324', N'2023-2024', CAST(N'2023-07-15' AS Date), CAST(N'2024-06-05' AS Date))
INSERT [dbo].[NamHoc] ([MaNamHoc], [TenNamHoc], [NgayDB], [NgayKT]) VALUES (N'NH2425', N'2024-2025', CAST(N'2024-09-05' AS Date), CAST(N'2025-05-31' AS Date))
GO
INSERT [dbo].[NguoiDung] ([MaND], [TenTK], [MatKhau], [TrangThai], [HoTen], [DienThoai], [DiaChi], [GioiTinh], [NgaySinh], [ChucVu], [Email]) VALUES (N'ND001', N'nguyen.tuan', N'EC2B48944919BDADB7215B0331C62F97', 1, N'Nguyễn Tuấn Anh', N'0901234567', N'Hà Nội, Việt Nam', N'Nam', CAST(N'1990-01-01T00:00:00.000' AS DateTime), N'Hiệu trưởng', N'nguyen.tuan@school.com')
INSERT [dbo].[NguoiDung] ([MaND], [TenTK], [MatKhau], [TrangThai], [HoTen], [DienThoai], [DiaChi], [GioiTinh], [NgaySinh], [ChucVu], [Email]) VALUES (N'ND002', N'pham.quy', N'0D397A5CDA49426EF505C2C7926FADBF', 1, N'Phạm Quỳnh Như', N'0901234568', N'Hà Nội, Việt Nam', N'Nữ', CAST(N'1992-03-14T00:00:00.000' AS DateTime), N'Nhân Viên Văn Phòng', N'pham.quy@school.com')
INSERT [dbo].[NguoiDung] ([MaND], [TenTK], [MatKhau], [TrangThai], [HoTen], [DienThoai], [DiaChi], [GioiTinh], [NgaySinh], [ChucVu], [Email]) VALUES (N'ND003', N'le.hoang', N'520A53A3F4B8C06AF467449997F4633F', 1, N'Lê Hoàng Nam', N'0901234569', N'Hồ Chí Minh, Việt Nam', N'Nam', CAST(N'1991-05-20T00:00:00.000' AS DateTime), N'Kế Toán', N'le.hoang@school.com')
GO
INSERT [dbo].[NguoiDung_NhomNguoiDung] ([MaND], [MaNhomNguoiDung], [GhiChu]) VALUES (N'ND001', N'NHOM01', NULL)
INSERT [dbo].[NguoiDung_NhomNguoiDung] ([MaND], [MaNhomNguoiDung], [GhiChu]) VALUES (N'ND002', N'NHOM02', NULL)
INSERT [dbo].[NguoiDung_NhomNguoiDung] ([MaND], [MaNhomNguoiDung], [GhiChu]) VALUES (N'ND003', N'NHOM03', NULL)
GO
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'NHOM01', N'HIệu trưởng', N'Quản lý toàn trường')
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'NHOM02    ', N'Nhân viên văn phòng', N'Quản lý học sinh')
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'NHOM03', N'Kế toán', N'Quản lý thu chi')
GO
INSERT [dbo].[PhanCong] ([MaLop], [MaGV], [VaiTro]) VALUES (N'LLA2324001', N'ND005', N'Giáo viên phụ trách')
INSERT [dbo].[PhanCong] ([MaLop], [MaGV], [VaiTro]) VALUES (N'LLA2324001', N'ND020', N'Giáo viên hỗ trợ')
INSERT [dbo].[PhanCong] ([MaLop], [MaGV], [VaiTro]) VALUES (N'LLA2324002', N'ND004', N'Giáo viên hỗ trợ')
GO
INSERT [dbo].[PhanLop] ([MaHS], [MaLop], [DanhGia], [XepLoai]) VALUES (N'HSNH23240001', N'LLC2425001', NULL, NULL)
INSERT [dbo].[PhanLop] ([MaHS], [MaLop], [DanhGia], [XepLoai]) VALUES (N'HSNH23240001', N'LMN2324001', NULL, N'Bé ngoan')
INSERT [dbo].[PhanLop] ([MaHS], [MaLop], [DanhGia], [XepLoai]) VALUES (N'HSNH23240002', N'LLC2425001', NULL, NULL)
GO
INSERT [dbo].[PhanQuyen] ([MaNhom], [MaMH]) VALUES (N'NHOM01', N'MH09')
INSERT [dbo].[PhanQuyen] ([MaNhom], [MaMH]) VALUES (N'NHOM01', N'MH10')
INSERT [dbo].[PhanQuyen] ([MaNhom], [MaMH]) VALUES (N'NHOM01', N'MH11')
GO
INSERT [dbo].[PhieuHocPhi] ([MaPhieuHP], [MaHS], [MaLop], [MaND], [NgayLapPhieu], [TrangThaiThanhToan], [Thang], [SoNgayHSVang], [SoNgayHSHoc], [TongTien], [TienNhan], [NgayThanhToan], [SoBuoiHocTrongThang]) VALUES (N'HP2425T10_HSNH23240001', N'HSNH23240001', N'LLC2425001', N'ND003', CAST(N'2024-12-19T08:35:06.000' AS DateTime), 1, 10, 0, 22, 1080000.0000, 1080000.0000, CAST(N'2024-12-19T00:00:00.000' AS DateTime), 22)
INSERT [dbo].[PhieuHocPhi] ([MaPhieuHP], [MaHS], [MaLop], [MaND], [NgayLapPhieu], [TrangThaiThanhToan], [Thang], [SoNgayHSVang], [SoNgayHSHoc], [TongTien], [TienNhan], [NgayThanhToan], [SoBuoiHocTrongThang]) VALUES (N'HP2425T10_HSNH23240002', N'HSNH23240002', N'LLC2425001', N'ND003', CAST(N'2024-12-19T08:35:06.000' AS DateTime), 1, 10, 0, 22, 1080000.0000, 1080000.0000, CAST(N'2024-12-19T00:00:00.000' AS DateTime), 22)
INSERT [dbo].[PhieuHocPhi] ([MaPhieuHP], [MaHS], [MaLop], [MaND], [NgayLapPhieu], [TrangThaiThanhToan], [Thang], [SoNgayHSVang], [SoNgayHSHoc], [TongTien], [TienNhan], [NgayThanhToan], [SoBuoiHocTrongThang]) VALUES (N'HP2425T10_HSNH23240003', N'HSNH23240003', N'LLC2425001', N'ND003', CAST(N'2024-12-19T08:35:06.000' AS DateTime), 1, 10, 0, 22, 1080000.0000, 1080000.0000, CAST(N'2024-12-19T00:00:00.000' AS DateTime), 22)
GO
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong], [SucChua], [ViTri], [TinhTrang]) VALUES (N'PH001', N'A109', 30, N'Lầu 1', N'Đang dùng')
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong], [SucChua], [ViTri], [TinhTrang]) VALUES (N'PH002', N'A110', 20, N'Lầu 1', N'Đang dùng')
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong], [SucChua], [ViTri], [TinhTrang]) VALUES (N'PH003', N'A011', 20, N'Tầng trệt', N'Đang dùng')
GO
INSERT [dbo].[PhuHuynh] ([MaPH], [HoTen], [GioiTinh], [NamSinh], [DiaChiCQ], [NgheNghiep], [DienThoai], [Email], [QuanHe]) VALUES (N'PHHSNH232400011', N'Nguyễn Văn An', N'Nam', 1980, N'123 Lê Lợi, Q.1', N'Nhân viên văn phòng', N'0901234567', N'an.nguyen@example.com', N'Ba')
INSERT [dbo].[PhuHuynh] ([MaPH], [HoTen], [GioiTinh], [NamSinh], [DiaChiCQ], [NgheNghiep], [DienThoai], [Email], [QuanHe]) VALUES (N'PHHSNH232400012', N'Lê Thị Bích', N'Nam', 1982, N'456 Trần Hưng Đạo, Q.5', N'Giáo viên', N'0902234567', N'an.nguyen@example.com', N'Ba')
INSERT [dbo].[PhuHuynh] ([MaPH], [HoTen], [GioiTinh], [NamSinh], [DiaChiCQ], [NgheNghiep], [DienThoai], [Email], [QuanHe]) VALUES (N'PHHSNH232400021', N'Trần Văn Cường', N'Nam', 1979, N'789 Nguyễn Huệ, Q.7', N'Kinh doanh', N'0903234567', N'cuong.tran@example.com', N'Ba')
GO
INSERT [dbo].[ThamGiaNgoaiKhoa] ([MaTTHD], [NgayDK], [MaHD], [MaHS], [TienNhan], [MaND]) VALUES (N'HD001_HSNH23240001', CAST(N'2024-12-02T00:00:00.000' AS DateTime), N'HD001', N'HSNH23240001', 500000.0000, N'ND003')
INSERT [dbo].[ThamGiaNgoaiKhoa] ([MaTTHD], [NgayDK], [MaHD], [MaHS], [TienNhan], [MaND]) VALUES (N'HD001_HSNH23240002', CAST(N'2024-12-02T00:00:00.000' AS DateTime), N'HD001', N'HSNH23240002', 500000.0000, N'ND003')
INSERT [dbo].[ThamGiaNgoaiKhoa] ([MaTTHD], [NgayDK], [MaHD], [MaHS], [TienNhan], [MaND]) VALUES (N'HD001_HSNH23240003', CAST(N'2024-12-02T00:00:00.000' AS DateTime), N'HD001', N'HSNH23240003', 500000.0000, N'ND003')
GO
ALTER TABLE [dbo].[CTPhieuHocPhi]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUHOCPHI_KHOANTHU] FOREIGN KEY([MaKhoanThu])
REFERENCES [dbo].[KhoanThu] ([MaKhoanThu])
GO
ALTER TABLE [dbo].[CTPhieuHocPhi] CHECK CONSTRAINT [FK_CTPHIEUHOCPHI_KHOANTHU]
GO
ALTER TABLE [dbo].[CTPhieuHocPhi]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUHOCPHI_PHIEUHOCPHI] FOREIGN KEY([MaPhieuHP])
REFERENCES [dbo].[PhieuHocPhi] ([MaPhieuHP])
GO
ALTER TABLE [dbo].[CTPhieuHocPhi] CHECK CONSTRAINT [FK_CTPHIEUHOCPHI_PHIEUHOCPHI]
GO
ALTER TABLE [dbo].[DanhGiaThang]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaThang_PhanLop] FOREIGN KEY([MaHS], [MaLop])
REFERENCES [dbo].[PhanLop] ([MaHS], [MaLop])
GO
ALTER TABLE [dbo].[DanhGiaThang] CHECK CONSTRAINT [FK_DanhGiaThang_PhanLop]
GO
ALTER TABLE [dbo].[DanhGiaTuan]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaTuan_PhanLop] FOREIGN KEY([MaHS], [MaLop])
REFERENCES [dbo].[PhanLop] ([MaHS], [MaLop])
GO
ALTER TABLE [dbo].[DanhGiaTuan] CHECK CONSTRAINT [FK_DanhGiaTuan_PhanLop]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_PhanLop] FOREIGN KEY([MaHS], [MaLop])
REFERENCES [dbo].[PhanLop] ([MaHS], [MaLop])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_PhanLop]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_NguoiDung1] FOREIGN KEY([MaGV])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_NguoiDung1]
GO
ALTER TABLE [dbo].[HoatDongNgoaiKhoa]  WITH CHECK ADD  CONSTRAINT [FK_HoatDongNgoaiKhoa_NamHoc] FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NamHoc] ([MaNamHoc])
GO
ALTER TABLE [dbo].[HoatDongNgoaiKhoa] CHECK CONSTRAINT [FK_HoatDongNgoaiKhoa_NamHoc]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_PhuHuynh] FOREIGN KEY([MaPH1])
REFERENCES [dbo].[PhuHuynh] ([MaPH])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_PhuHuynh]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_PhuHuynh1] FOREIGN KEY([MaPH2])
REFERENCES [dbo].[PhuHuynh] ([MaPH])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_PhuHuynh1]
GO
ALTER TABLE [dbo].[HoSoHocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HoSoHocSinh_HocSinh] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HocSinh] ([MaHS])
GO
ALTER TABLE [dbo].[HoSoHocSinh] CHECK CONSTRAINT [FK_HoSoHocSinh_HocSinh]
GO
ALTER TABLE [dbo].[KeHoach]  WITH CHECK ADD  CONSTRAINT [FK_KeHoach_KhoiLop] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[KhoiLop] ([MaKhoi])
GO
ALTER TABLE [dbo].[KeHoach] CHECK CONSTRAINT [FK_KeHoach_KhoiLop]
GO
ALTER TABLE [dbo].[KeHoach]  WITH CHECK ADD  CONSTRAINT [FK_KeHoach_NamHoc] FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NamHoc] ([MaNamHoc])
GO
ALTER TABLE [dbo].[KeHoach] CHECK CONSTRAINT [FK_KeHoach_NamHoc]
GO
ALTER TABLE [dbo].[KhoanThu]  WITH CHECK ADD  CONSTRAINT [FK_KHOANTHU_NamHoc] FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NamHoc] ([MaNamHoc])
GO
ALTER TABLE [dbo].[KhoanThu] CHECK CONSTRAINT [FK_KHOANTHU_NamHoc]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_KeHoach] FOREIGN KEY([MaNamHoc], [MaKhoi])
REFERENCES [dbo].[KeHoach] ([MaNamHoc], [MaKhoi])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_KeHoach]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_PhongHoc] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_PhongHoc]
GO
ALTER TABLE [dbo].[NguoiDung_NhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_NhomNguoiDung_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[NguoiDung_NhomNguoiDung] CHECK CONSTRAINT [FK_NguoiDung_NhomNguoiDung_NguoiDung]
GO
ALTER TABLE [dbo].[NguoiDung_NhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_NhomNguoiDung_NhomNguoiDung] FOREIGN KEY([MaNhomNguoiDung])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[NguoiDung_NhomNguoiDung] CHECK CONSTRAINT [FK_NguoiDung_NhomNguoiDung_NhomNguoiDung]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_GiaoVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_GiaoVien]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_LopHoc] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_LopHoc]
GO
ALTER TABLE [dbo].[PhanLop]  WITH CHECK ADD  CONSTRAINT [FK_PhanLop_HocSinh] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HocSinh] ([MaHS])
GO
ALTER TABLE [dbo].[PhanLop] CHECK CONSTRAINT [FK_PhanLop_HocSinh]
GO
ALTER TABLE [dbo].[PhanLop]  WITH CHECK ADD  CONSTRAINT [FK_PhanLop_LopHoc] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[PhanLop] CHECK CONSTRAINT [FK_PhanLop_LopHoc]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_DMManHinh] FOREIGN KEY([MaMH])
REFERENCES [dbo].[DMManHinh] ([MaMH])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_DMManHinh]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_NhomNguoiDung] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_NhomNguoiDung]
GO
ALTER TABLE [dbo].[PhieuHocPhi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuHocPhi_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[PhieuHocPhi] CHECK CONSTRAINT [FK_PhieuHocPhi_NguoiDung]
GO
ALTER TABLE [dbo].[PhieuHocPhi]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUHOCPHI_PhanLop] FOREIGN KEY([MaHS], [MaLop])
REFERENCES [dbo].[PhanLop] ([MaHS], [MaLop])
GO
ALTER TABLE [dbo].[PhieuHocPhi] CHECK CONSTRAINT [FK_PHIEUHOCPHI_PhanLop]
GO
ALTER TABLE [dbo].[ThamGiaNgoaiKhoa]  WITH CHECK ADD  CONSTRAINT [FK_ThamGiaNgoaiKhoa_HoatDongNgoaiKhoa] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoatDongNgoaiKhoa] ([MaHD])
GO
ALTER TABLE [dbo].[ThamGiaNgoaiKhoa] CHECK CONSTRAINT [FK_ThamGiaNgoaiKhoa_HoatDongNgoaiKhoa]
GO
ALTER TABLE [dbo].[ThamGiaNgoaiKhoa]  WITH CHECK ADD  CONSTRAINT [FK_ThamGiaNgoaiKhoa_HocSinh] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HocSinh] ([MaHS])
GO
ALTER TABLE [dbo].[ThamGiaNgoaiKhoa] CHECK CONSTRAINT [FK_ThamGiaNgoaiKhoa_HocSinh]
GO
ALTER TABLE [dbo].[ThamGiaNgoaiKhoa]  WITH CHECK ADD  CONSTRAINT [FK_ThamGiaNgoaiKhoa_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[ThamGiaNgoaiKhoa] CHECK CONSTRAINT [FK_ThamGiaNgoaiKhoa_NguoiDung]
GO
